autopep8==2.0.2
bs4==0.0.1
deepchecks==0.17.4
geopandas==0.13.2
geopy==2.3.0
googletrans==3.0.0
html5lib==1.1
jupyter==1.0.0
nltk==3.8.1
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
seaborn==0.12.2
sidetable==0.9.1